*{
    box-sizing: border-box;
}

:root{     /* kiến thức về css Varible */ 
    --Font: "Poppins", "sans-serif";
    --primary-color: #FFB900;
}
html {
    font-size: 62.5%;
}

/* khôi phục lại mặc định cỡ chữ theo rem  */
body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}


/* ===========================Common(phần chung)=================== */
.main-content {
    width: 1170px; /* Đây là chiều rộng cố định  */  
    max-width: calc(100% - 200px);                      /* kiến thức về hàm calc */
    margin-right: auto;
    margin-left: auto; 


}

a {
    text-decoration: none;
}

.btn {
    display: inline-block   ;
    color: white;
    font-size: 1.6rem;
    background-color: black;
    padding: 0 1.6rem;
    border-radius: 999px;
    text-align: center;
    line-height: 50px;
}
.btn:hover {
    opacity: 0.9;
}





/*===================================================*/

/* ========================================== */
/* ===========================HERDER====================== */
.header .body {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 36px 0px 8px 0px ;

    
}
.header{
    background-color: antiquewhite;
}
.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}
.nav a{
    position: relative;
   color: rgb(29, 23, 23);
   font-size: 1.6rem;
 
   padding:   8px 21px;
    
}
 
.nav li.active a,
.nav a:hover {
    text-shadow: 1px 1px black;  /* Bóng đổ của văn bán */
}
 .nav li.active a::after { /* thêm  một dấu gạch chân vào bên trong thẻ a . nhưng  hiển thị ở sau nội dung của thẻ a*/
  display: block;
    content: "";
    width: 12px;
    height: 2px;
    background-color: black;

    position: absolute;
    left: 21px;
    bottom: 6px;
   
}

.header .btn-sign-up{
    min-width: 144px
}

/* ===================================phần hero herder=================================== */
.hero {
padding: 56px 0 65px;
    background-color: antiquewhite;
}
.hero .body{
    display: flex;
}

/* =======================hero Left=============================================== */
.hero .media-block {
    position: relative;
    width: 48%;

}
.hero .media-block .img-hero{
    width: 470px;
    height: 685px;

    border-radius: 2rem;
}


 .hero .hero-summary {
  
            position: absolute;
            bottom: 48px;
            right: 0px;
            left: 300px;

            background-color: aliceblue;
            border-radius: 1.2rem;
            padding: 2.4rem 0rem 2.4rem 2.4rem;
            width: 270px;
}   
.hero-summary .index-summary {
    position: relative;

     display: flex;
     justify-content: center;
     align-items: center;
   
 
}
.hero-summary .index-summary + .index-summary {
        margin-top: 22px;
}
.hero-summary .icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        left: 0px;

        background-color: #fff9e8;

}
.hero-summary .icon2 {
    background-color: #FCEFFF;
}
.hero-summary .icon3 {
    background-color: #ebeaff;
}
.hero-summary .text{
    margin-left: 1.6rem;
    width: 119px;
}
.hero-summary .lable {
    font-size: 14px;
    font-style: normal;
    line-height: 1.86;
}
.hero-summary .title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
}
/* ==========================hero Right=================================== */
.hero .content-block {
    width: 52%;
   padding-left: 130px;
   padding-top: 64px;
  
  }
.hero .heading {
    font-family: var(--Font);
        font-weight: 700;
        font-size: 5.8rem;
        line-height: 1.17;
        letter-spacing: normal;
}
.hero .hero-cta{
    min-width: 180px;

    line-height: 64px;

    background-color: var(--primary-color);
}
.hero .desc{
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
}
.hero .cta-group{
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero .watch-video{
    border:none;
    background: transparent;  /* transparent độ trong suốt */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;

    cursor: pointer;      


}
.hero .watch-video .icon{
    width: 40px;
    height: 40px;
    border-radius: 4rem;
    background-color: #FCEFFF;

    display: flex;
    align-items: center;
    justify-content: center;

}
.hero .watch-video span{
    margin-left: 14px;
    color: #171100;
    font-weight: 600;

    line-height: 1.67;
}
.hero .desc-recent{
    margin-top: 48px;
}
.hero .stats{
    margin-top: 8px;
}
.hero .stats strong{
font-family: var(--Font);
font-weight: 700;
line-height: 1.23;
font-size: 4.4rem;

margin-right: 15px;
}
.hero .stats strong:nth-child(2){
    margin-left: 28px;
}


